@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #9971ce;
  --pink:#e462d7;
  --lacivert:#1d1646;
  --transition: all 250ms ease-in-out;
}

.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;
}
.title {
  font-weight: bold;
  color: var(--purple);
  font-size: 1.5rem;
}

.menu,
.menu__icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color:var(--pink);
  cursor: pointer;
  align-items: center;
}
.menu__icons .search {
  display: flex;
  align-items: center;
  margin-left: 10px; 
}
.menu__icons #search-input {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: 5px;
  width: 150px; /* Güncellendi: Arama kutucuğu genişliği */
}
.menu__icons #search-input::placeholder {
  color: #999;
}

.menu .active {
  color: var(--pink);
  font-weight: bold;
}

.menu li,
.menu__icons li {
  margin: 0 10px;
}

.menu__icons li {
  color: var(--pink);
}
.menu__icons {
  display: flex;
  align-items: center;
}

.menu__icons li {
  list-style: none;
  margin: 0 10px;
  display: flex;
  align-items: cent
}

.menu__icons .search {
  display: flex;
  align-items: center;
}

.menu__icons #search-input {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: 5px;
}

.menu__icons #search-input::placeholder {
  color: #999;
}

.menu__icons li i {
  margin-right: 5px;
}

.basket__icon {
  position: relative;
}

.basket__count {
  position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.basket__count:empty {
  display: none;
}

.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.slider img {
  height: 600px;
}

.store {
  width: 80%;
  margin-left: 10%;
}

.book__card {
  height: 400px;
}

.book__card img {
  height: 400px;
}

.fos {
  font-family: "Open Sans", sans-serif;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.fw-bold {
  font-weight: bold;
}

.book__star-rate .bi-star,
.bi-star-fill {
  color: #eeedf5;
  font-size: 1.2rem;
  margin-right: 5px;
}

.book__star-rate .bi-star-fill.active {
  color: #f2c94b;
}

.book__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.old__price {
  text-decoration: line-through;
  color: #bdbdbd;
}
.btn__purple {
  cursor: pointer;
  border: 2px solid var(--purple);
  color:var(--purple);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  transition: var(--transition);
  padding: 5px 0;
}

.btn__purple:hover {
  background-color: var(--purple);
  color: white;
}

.filter__background {
  position: absolute;
  left: 0;
  width: 600px;
  height: 900px;
  background-color: #efeef6;
  z-index: -1;
}

.filter {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  justify-content: center;
}

.filter li {
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.filter li:hover {
  color: var(--purple);
}

.filter li.active {
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  left: -5px;
  margin-top: 12px;
}

.basket__modal {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #5c6a7950;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}

.basket__modal.active {
  opacity: 1;
  z-index: 999;
}

.basket__items {
  position: relative;
  width: 0;
  background-color: white;
  height: 100%;
  float: right;
  transition: var(--transition);
}

.basket__modal.active .basket__items {
  width: 450px;
}

.basket__items .bi-x {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}

.basket__title {
  color: var(--purple);
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;
}

.basket__list {
  list-style-type: none;
  padding: 0 10px;
  margin-top: 3rem;
  max-height: 650px;
  overflow-y: auto;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.basket__item-info {
  width: 250px;
}
.basket__item-info .book__name {
  font-size: 16px;
  font-weight: bold;
}
.basket__item-info .book__price {
  font-size: 16px;
}
.basket__item-info .book__remove {
  cursor: pointer;
  color: var(--gray);
}
.basket__item .book__count {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}

.book__count .increase {
  margin-left: 5px;
}

.book__count .decrease {
  margin-right: 5px;
}

.book__count .increase,
.decrease {
  cursor: pointer;
  color: var(--purple);
}

.basket__total {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  align-items: center;
  width: inherit;
}

.basket__total button {
  width: 250px;
}

.total__price:empty + .btn__purple {
  display: none;
}
.book-details {
  padding-top:2rem;
}

.book-details img {
  border-radius: 5px;
}

.book-details h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.book-details h5 {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.book-details #book-stars i.active {
  color: #ffc107;
}

.book-details #book-stars i {
  color: #ddd;
}

.book-details p {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.book-details .btn__purple {
  background-color: #6f42c1;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.book-details .btn__purple:hover {
  background-color: #5a32a1;
}

.old__price {
  text-decoration: line-through;
  color: #6c757d;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  color: #ff69b4;
}

header input {
  padding: 8px;
  margin-top: 10px;
  width: 300px;
  font-size: 16px;
}

.container {
  display: flex;
  margin-top: 20px;
  height: calc(100vh - 60px); /* Filtreleme ve kitap listesi alanını tam yüksekliğe yay */
}



.book-list {
  width: 80%;
  padding: 20px;
  overflow-y: auto; /* Kitap listesinin dikey kaydırılabilir olmasını sağlar */
}

.book__card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book__card img {
  max-width: 100%;
  height: auto;
}

.book__title {
  color: #ff69b4;
}

.book__card.highlight {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  color: #ff69b4;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.btn__purple {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.btn__purple:hover {
  background-color: #ff1493;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Başlık stili */
header {
  background-color: #ff69b4;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Ödeme formu konteyneri stili */
.payment-container {
  background-color: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form grup stili */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buton stili */
.btn__purple {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn__purple:hover {
  background-color: #ff1493;
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  width: 100px; /* Logonun genişliği */
  height: auto;
  margin-right: 5px; /* Yazı ile logo arasındaki boşluk */
}


